body {
    margin-left: 1%;
    padding: 0;
    text-align: justify;
    background-color: rgb(223, 35, 161);
    font-family:fantasy;
  }

#header {
  margin-top: -25pt;
  background: linear-gradient(to left, violet, indigo,  green, yellow, orange, red);
  font-size: xx-large;
  font-style: normal;
  height: 60pt;
  width: 100%;
  color:blue;
  z-index: 1;
  text-align: center;
}

.bar {
    color:black;
    width: 100%; 
    height: 26pt;
    font-size: x-large;
    margin-top: 1pt;
    background: -webkit-linear-gradient(right,orange,yellow);
    overflow-x: hidden;  
    word-spacing: 44pt; 
    text-align:center;
}
#bar li a:hover {
    display: inline-block;  
    margin-left: 5%;
    margin-right: 5%; 
}
.bar2 {
    color:black;
    width: 100%; 
    height: 26pt;
    font-size: x-large;
    margin-bottom: 1pt;
    background: -webkit-linear-gradient(left,orange,yellow);  
    overflow-x: hidden;  
    word-spacing: 44pt; 
    text-align:center;
}
#bar2 li a:hover {
    display: inline-block;  
    margin-left: 5%;
    margin-right: 5%; 
}

span,
li {
  font-family: 'Cormorant Garamond';
  font-family: cursive;
  font-size: 120%; 
}

#Who,#Pro,#What{
    background: -webkit-linear-gradient(left,green,yellow);
    color:darkslategrey;
    font-size: x-large;
    font-weight: bolder;
    font-style: normal;

}
#Import{color:rgba(216, 182, 29, 0.892);
    font-size: x-large;
    background-color: tomato;
}
#Sk,#In{
    color:darkslategrey;
    font-size: large;
    font-weight: bolder;
    font-style: normal;
}

.right-box {
    color: red;
    background: #2fdf0b;
    float: right;
    text-align: center;
    box-shadow: -10px -10px 3px;
    margin-top: 1%;

}

.image {
    float: left;
    margin-top: 5%;
    margin-right: 5%;
    width: 25%;
    height: 20%;
    border-radius: 5px;
  }

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-right: 4%;
}

.footer {
    text-align: center;
    color: white;
}

a {
  font-family:fantasy;
  text-decoration: none;
  
}

