body{
    background: hsl(39, 81%, 90%);
    margin-left: 10%;
    margin-right: 10%;
    font-family: serif;
    text-align: justify
}

p {
    text-indent: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    color:darkslategrey
    }
p.poem {
    text-indent: 1em;
    margin-left: 10%;
    font-size: 100%;
    margin-top: 1em;
    margin-bottom: 1em
    }

p.noindent {
    text-indent: 0%
    }

p.center {
    text-align: center;
    text-indent: 0;
    margin-top: 1em;
    margin-bottom: 1em
    }
p.asterism {
    margin-left: 25%;
    text-indent: 0%;
    letter-spacing: 0.12em;
    margin-top: 1em;
    margin-bottom: 1em
    }

h1,h2,h3,h4,h5{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em
}

h1 {
    color: purple;
    font-size: 275%;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0
    }

h2 {
    color: rebeccapurple;
    font-size: 125%;
    }

hr {
    width: 70%;
    margin-top: 2em;
    margin-bottom: 2em
    }

.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

div.fig {
    display: block;
    margin: 0 auto;
    text-align: center
}

table{
    margin-left: auto;
    margin-right: auto
}

img{
    width: 100%;
}

figure {
    text-align: center;
    display: block;
    border: 0;   
}

figcaption{
    color:black;
    background-color: rgb(228, 219, 183);
    text-align: center; 
}

div.chapter {
    text-align: center;
    page-break-before: always;
    margin-top: 4em;
    }

pre  { 
	font-style: italic;
	font-size: 90%; 
	margin-left: 10%;
}

a:link {
    color: blue;
    text-decoration: none
    }
a:visited {
    color: blue;
    text-decoration: none
    }
a:hover {
    color: red
    }